.video__data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    .video__title {
      font-size: 25px;
      margin-bottom: 5px;
      font-weight: 600;
    }
    .video__createdAt {
      font-size: 12px;
    }
      .video-mixin-views,
      .video__createdAt{
        font-size: 13px;
        color: rgba($color: #FFFFFF, $alpha: 0.5);
        font-weight: 300;
      }
      .video__ViewCreate{
        margin: 5px 0;
      }
    .video__icons{
      float: right;
      margin-right: 10px;
    }
    .video__icons i{
      margin: 0 10px;
      font-size: 15px;
    }
    .video__icons span{
      font-weight: 500;
    }
    .video__hashtags{
      font-size: 12px;
      color: #3EA6FF;
      margin-bottom: 5px;
    }
}

// 업로더 사진 및 이름
.video__OwnerDsecContainer{
  .video__avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
  }
  .video__subscribe{
    font-size: 12px;
    color: rgba($color: #FFFFFF, $alpha: 0.5);
    font-weight: 500;
  }
  .video__owner {
    margin: 10px;
    margin-bottom: 5px;
    a {
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

// 비디오 설명
.video__description{
  font-size: 14px;
  margin-left: 60px;
}


// 구분선
.line{
  width: 100%;
  margin: 15px 0;
  border-color: rgba($color: #FFFFFF, $alpha: 0.2);
  border-width: 0.5;
}

// 댓글 아바타
.comments__avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

// 댓글 입력창
.video__add-comments{
  margin-left: 10px;
  .video__comment-form{
    background-color: transparent;
    border: 0;
    padding-bottom: 20px;
  }
  .video__comment-form__text{
    width: 600px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.5);
    color: #FFFFFF;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

// 댓글 버튼
.video__comment-form__btn{
  appearance: none;
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  font-size: 16px;
  background-color: rgb(89, 178, 255);
  padding: 10px 20px;
  color: #030303;
  cursor: pointer;
  
}

// 댓글 등록란
.video__comments {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 0 auto;
    margin-top: 20px;

    .video__comment {
      display: grid;
      overflow: hidden;
      font-size: 14px;
      padding: 5px;
      color: #FFFFFF;
      margin: 10px 0;
      i.fas.fa-xmark{
        margin-left: 20px;
      }
      
    }
}

.video__comment__deleteBtn {
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}  


