// video mixin

.video-mixin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.video-mixin_warp {
        .video-mixin__thumb {
                height: 200px;
                width: 330px;
                border-radius: 5px;
                background-color: rgb(45, 45, 45);
                margin: 0 auto;
            }
            .video-mixin__thumb img {
                object-fit: cover;
            }
            .video-mixin__data {
                margin-top: 12px;
                display: flex;
            }
    }
} 


.video-mixin__meta{
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 40px;
    .video-mixin__owername{
        opacity: 0.6;
        margin-top: 8px;
    }
}
.video-mixin__homeavatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.video-mixin__title{
    font-size: 16px;
    color: #FFFFFF;
}

.video-mixin-views{
    margin-top: 6px;
    opacity: 0.6;
}

.video-mixin-createdAt{
    margin-left: 3px;
}

.video-upload__form{
    label{
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
    }
}

.homeline{
    width: 100%;
    margin: 15px 0;
    border-color: rgba($color: #FFFFFF, $alpha: 0.1);
}